{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Ligue 1
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-10 text-primary">
				<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Ligue 1</h1>
				
				<div class="card-group">
					<div class="card">
						<img src="images/foot/ligue1/logopsg.webp" class="card-img-top" alt="logo PSG" style="width: 230px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_parissg')}}">Paris-SG</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/ligue1/logomonaco.webp" class="card-img-top" alt="logo Monaco" style="width: 130px">
							<div class="card-body">
								<h5 class="card-title"><a href="{{path('app_monaco')}}">AS Monaco</a></h5>
									
								</div>
							</div>
							<div class="card">
								<img src="images/foot/ligue1/logomarseille.webp" class="card-img-top" alt="logo Marseille" style="width: 180px">
								<div class="card-body">
									<h5 class="card-title">
									<a href="{{path('app_marseille')}}">Olympique de Marseille</a></h5>
							</div>
						</div>
					</div>
					<div class="card-group">
					<div class="card">
						<img src="images/foot/ligue1/logolosc.webp" class="card-img-top" alt="logo Lille" style="width: 230px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_lille')}}">LOSC Lille</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/ligue1/logonice.webp" class="card-img-top" alt="logo Nice" style="width: 170px">
							<div class="card-body">
								<h5 class="card-title"><a href="{{path('app_nice')}}">OGC Nice</a></h5>
									
								</div>
							</div>
							<div class="card">
								<img src="images/foot/ligue1/logolens.webp" class="card-img-top" alt="logo Lens" style="width: 160px">
								<div class="card-body">
									<h5 class="card-title">
									<a href="{{path('app_lens')}}">RC LENS</a></h5>
							</div>
						</div>
					</div>
					<div class="card-group">
					<div class="card">
						<img src="images/foot/ligue1/logorennes.webp" class="card-img-top" alt="logo Rennes" style="width: 190px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_rennes')}}">Rennes</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/ligue1/logobrest.webp" class="card-img-top" alt="logo Brest" style="width: 180px">
							<div class="card-body">
								<h5 class="card-title">
								<a href="{{path('app_brest')}}">Brest</a></h5>
									
								</div>
							</div>
							<div class="card">
								<img src="images/foot/ligue1/logonantes.webp" class="card-img-top" alt="logo Nantes" style="width: 165px">
								<div class="card-body">
									<h5 class="card-title">
									<a href="{{path('app_nantes')}}">FC Nantes</a></h5>
							</div>
						</div>
					</div>
					<div class="card-group">
					<div class="card">
						<img src="images/foot/ligue1/logoreims.webp" class="card-img-top" alt="logo Reims" style="width: 128px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_reims')}}"> Stade de Reims</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/ligue1/logotoulouse.webp" class="card-img-top" alt="logo Toulouse" style="width: 215px">
							<div class="card-body">
								<h5 class="card-title">
								<a href="{{path('app_toulouse')}}"> FC Toulouse</a></h5>
									
								</div>
							</div>
							<div class="card">
								<img src="images/foot/ligue1/logolyon.webp" class="card-img-top" alt="logo Lyon" style="width: 180px">
								<div class="card-body">
									<h5 class="card-title">
									<a href="{{path('app_lyon')}}">Olympique Lyonnais</a></h5>
							</div>
						</div>
					</div>
					<div class="card-group">
					<div class="card">
						<img src="images/foot/ligue1/logostrasbourg.webp" class="card-img-top" alt="logo Strasbourg" style="width: 220px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_strasbourg')}}"> RC Strasbourg</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/ligue1/logolorient.webp" class="card-img-top" alt="logo Lorient" style="width: 155px">
							<div class="card-body">
								<h5 class="card-title">
								<a href="{{path('app_lorient')}}">FC Lorient</a></h5>
									
								</div>
							</div>
							<div class="card">
								<img src="images/foot/ligue1/logolehavre.webp" class="card-img-top" alt="logo Le Havre" style="width: 190px">
								<div class="card-body">
									<h5 class="card-title">
									<a href="{{path('app_lehavre')}}">Le Havre</a></h5>
							</div>
						</div>
					</div>
					<div class="card-group">
					<div class="card">
						<img src="images/foot/ligue1/logomontpelier.webp" class="card-img-top" alt="logo Montpelier" style="width: 225px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_montpelier')}}">Montpelier HSC</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/ligue1/logometz.webp" class="card-img-top" alt="logo Metz" style="width: 185px">
							<div class="card-body">
								<h5 class="card-title">
								<a href="{{path('app_metz')}}">FC Metz</a></h5>
									
								</div>
							</div>
							<div class="card">
								<img src="images/foot/ligue1/logoclermont.webp" class="card-img-top" alt="logo Clermont" style="width: 195px">
								<div class="card-body">
									<h5 class="card-title">
									<a href="{{path('app_clermont')}}">Clermont Foot 63</a></h5>
							</div>
						</div>
					</div>
					
					
					
					
			{% endblock %}
