{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}Europe
{% endblock %}

{% block body %}
     <div class="container-fluid">
       <div class="row justify-content-center">
         <div class="col-10 text-primary">
            <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> Europe </h1>
             <div class="card-group">
					<div class="card">
						<img src="images/foot/nations/europe/paysdegalles.webp" class="card-img-top" alt="Pays de Galles" style="width: 220px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_paysdegalles')}}"> Pays de Galles </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/nations/europe/angleterre.webp" class="card-img-top" alt="Angleterre" style="width: 220px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_angleterre')}}"> Angleterre  </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/nations/europe/ecosse.webp" class="card-img-top" alt="Ecosse" style="width: 220px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_ecosse')}}"> Ecosse </a></h5>
									</div>
								</div>
								</div> 
              <div class="card-group">
					<div class="card">
						<img src="images/foot/nations/europe/france.webp" class="card-img-top" alt="france" style="width: 220px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_france')}}"> France </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/nations/europe/espagne.webp" class="card-img-top" alt="Espagne" style="width: 220px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_espagne')}}"> Espagne </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/nations/europe/portugal.webp" class="card-img-top" alt="Portugal" style="width: 220px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_portugal')}}"> Portugal </a></h5>
									</div>
								</div>
								</div>
          <div class="card-group">
					<div class="card">
						<img src="images/foot/nations/europe/allemagne.webp" class="card-img-top" alt="Allemagne" style="width: 240px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_allemagne')}}"> Allemagne </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/nations/europe/italie.webp" class="card-img-top" alt="Italie" style="width: 220px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_italie')}}"> Italie </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/nations/europe/belgique.webp" class="card-img-top" alt="Belgique" style="width: 220px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_belgique')}}"> Belgique </a></h5>
									</div>
								</div>
								</div>        
           <div class="card-group">
					<div class="card">
						<img src="images/foot/nations/europe/suede.webp" class="card-img-top" alt="Suede" style="width: 240px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_suede')}}"> Suede </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/nations/europe/finlande.webp" class="card-img-top" alt="Finlande" style="width: 230px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_finlande')}}"> Finlande </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/nations/europe/norvege.webp" class="card-img-top" alt="Norvege" style="width: 200px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_norvege')}}"> Norvege </a></h5>
									</div>
								</div>
								</div>          
            <div class="card-group">
					<div class="card">
						<img src="images/foot/nations/europe/pologne.webp" class="card-img-top" alt="Pologne" style="width: 240px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_pologne')}}"> Pologne </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/nations/europe/danemark.webp" class="card-img-top" alt="Danemark" style="width: 200px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_danemark')}}"> Danemark </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/nations/europe/autriche.webp" class="card-img-top" alt="Autriche" style="width: 210px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_autriche')}}"> Autriche </a></h5>
									</div>
								</div>
								</div>                       
{% endblock %}