{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}Afrique
{% endblock %}

{% block body %}
     <div class="container-fluid">
       <div class="row justify-content-center">
         <div class="col-10 text-primary">
            <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Afrique</h1>
              <div class="card-group">
					<div class="card">
						<img src="images/foot/nations/afrique/algerie.webp" class="card-img-top" alt="Tunisie" style="width: 230px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_algerie')}}"> Algerie </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/nations/afrique/maroc.webp" class="card-img-top" alt="Maroc" style="width: 230px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_maroc')}}"> Maroc </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/nations/afrique/egypte.webp" class="card-img-top" alt="Egypte" style="width: 230px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_egypte')}}"> Egypte </a></h5>
									</div>
								</div>
								</div>  
          <div class="card-group">
					<div class="card">
						<img src="images/foot/nations/afrique/tunisie.webp" class="card-img-top" alt="Tunisie" style="width: 210px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_tunisie')}}"> Tunisie </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/nations/afrique/nigeria.webp" class="card-img-top" alt="Nigeria" style="width: 280px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_nigeria')}}"> Nigeria </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/nations/afrique/mali.webp" class="card-img-top" alt="Mali" style="width: 210px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_mali')}}"> Mali </a></h5>
									</div>
								</div>
								</div>
          <div class="card-group">
					<div class="card">
						<img src="images/foot/nations/afrique/cotedivoire.webp" class="card-img-top" alt="Cote D'Ivoire" style="width: 210px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_cotedivoire')}}"> Cote D'Ivoire </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/nations/afrique/cameroun.webp" class="card-img-top" alt="Cameroun" style="width: 215px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_cameroun')}}"> Cameroun </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/nations/afrique/senegal.webp" class="card-img-top" alt="Senegal" style="width: 210px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_senegal')}}"> Senegal </a></h5>
									</div>
								</div>
								</div>                        
{% endblock %}