{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}Conference EST
{% endblock %}

{% block body %}
     <div class="contrainer-fluid">
     <div class="row justify-content-center">
      <div class="col-10 text-primary">
           <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Conference EST</h1>
          	<div class="card-group">
					<div class="card">
						<img src="images/basket/est/celtics.webp" class="card-img-top" alt="Celtics" style="width: 178px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_celtics')}}"> Celtics </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/basket/est/bucks.webp" class="card-img-top" alt="Bucks" style="width: 160px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_bucks')}}"> Bucks </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/basket/est/cavs.webp" class="card-img-top" alt="Cavs" style="width: 230px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_cavs')}}"> Cavs </a></h5>
									</div>
								</div>
								</div>
               <div class="card-group">
					<div class="card">
						<img src="images/basket/est/knicks.webp" class="card-img-top" alt="Knicks" style="width: 232px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_knicks')}}"> Knicks </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/basket/est/magic.webp" class="card-img-top" alt="Magic" style="width: 265px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_magic')}}"> Magic </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/basket/est/pacers.webp" class="card-img-top" alt="Pacers" style="width: 185px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_pacers')}}"> Pacers </a></h5>
									</div>
								</div>
								</div>	  
                <div class="card-group">
					<div class="card">
						<img src="images/basket/est/heat.webp" class="card-img-top" alt="Heat" style="width: 150px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_heat')}}"> Heat </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/basket/est/phily.webp" class="card-img-top" alt="Phily" style="width: 200px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_phily')}}"> 76ers Sixers </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/basket/est/bulls.webp" class="card-img-top" alt="Bulls" style="width: 190px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_bulls')}}"> Bulls </a></h5>
									</div>
								</div>
								</div>	         
				  <div class="card-group">
					<div class="card">
						<img src="images/basket/est/hawks.webp" class="card-img-top" alt="Hawks" style="width: 200px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_hawks')}}"> Hawks </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/basket/est/nets.webp" class="card-img-top" alt="Nets" style="width: 155px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_nets')}}"> Nets </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/basket/est/raptors.webp" class="card-img-top" alt="Raptors" style="width: 200px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_raptors')}}"> Raptors </a></h5>
									</div>
								</div>
								</div>	   
				 <div class="card-group">
					<div class="card">
						<img src="images/basket/est/hornets.webp" class="card-img-top" alt="Hornets" style="width: 205px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_hornets')}}"> Hornets </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/basket/est/wizards.webp" class="card-img-top" alt="Wizards" style="width: 190px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_wizards')}}"> Wizards </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/basket/est/pistons.webp" class="card-img-top" alt="Pistons" style="width: 190px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_pistons')}}"> Pistons </a></h5>
									</div>
								</div>
								</div>	                							             				                                                           									
{% endblock %}          