{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}Bundesligua
{% endblock %}

{% block body %}
     <div class="container-fluid">
       <div class="row justify-content-center">
         <div class="col-10 text-primary">
            <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Bundesliga</h1>
        	<div class="card-group">
					<div class="card">
						<img src="images/foot/bundesliga/logoleverkusen.webp" class="card-img-top" alt="logo Bayer Leverkusen" style="width: 230px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_leverkusen')}}"> Leverkusen </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/bundesliga/logobayernmunich.webp" class="card-img-top" alt="logo Bayern Munich" style="width: 180px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_bayernmunich')}}"> Bayern Munich </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/bundesliga/logostuttgart.webp" class="card-img-top" alt="logo Stuttgart" style="width: 170px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_stuttgart')}}"> Stuttgart </a></h5>
									</div>
								</div>
							</div>		
           <div class="card-group">
					<div class="card">
						<img src="images/foot/bundesliga/logodortmund.webp" class="card-img-top" alt="logo Dotmund" style="width: 180px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_dortmund')}}"> Dortmund </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/bundesliga/logorbleipzig.webp" class="card-img-top" alt="logo RB Leipzig" style="width: 350px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_rbleipzig')}}"> RB Leipzig </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/bundesliga/logofrancfort.webp" class="card-img-top" alt="logo Francfort" style="width: 170px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_francfort')}}"> Francfort </a></h5>
									</div>
								</div>
							</div>		  
               <div class="card-group">
					<div class="card">
						<img src="images/foot/bundesliga/logohoffenheim.webp" class="card-img-top" alt="logo Hoffenheim" style="width: 180px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_hoffenheim')}}"> Hoffenheim </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/bundesliga/logofribourg.webp" class="card-img-top" alt="logo Fribourg" style="width: 160px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_fribourg')}}"> Fribourg </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/bundesliga/logoaugsbourg.webp" class="card-img-top" alt="logo Augsbourg" style="width: 170px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_augsbourg')}}"> Augsbourg </a></h5>
									</div>
								</div>
							</div>	
				  <div class="card-group">
					<div class="card">
						<img src="images/foot/bundesliga/logowerderbreme.webp" class="card-img-top" alt="logo Werder Breme" style="width: 170px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_werderbreme')}}"> Werder Breme </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/bundesliga/logoheidenheim.webp" class="card-img-top" alt="logo Heindenheim" style="width: 210px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_heidenheim')}}"> Heidenheim </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/bundesliga/logomönchengladbach.webp" class="card-img-top" alt="logo mönchengladbach" style="width: 160px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_mönchengladbach')}}"> Mönchengladbach </a></h5>
									</div>
								</div>
							</div>		      		
					  <div class="card-group">
					<div class="card">
						<img src="images/foot/bundesliga/logounionberlin.webp" class="card-img-top" alt="logo Union Berlin" style="width: 200px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_unionberlin')}}"> Union Berlin </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/bundesliga/logowolfsbourg.webp" class="card-img-top" alt="logo Wolfsbourg" style="width: 200px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_wolfsbourg')}}"> Wolfsbourg </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/bundesliga/logobochum.webp" class="card-img-top" alt="logo Bochum" style="width: 190px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_bochum')}}"> Bochum </a></h5>
									</div>
								</div>
							</div>	
					 <div class="card-group">
					<div class="card">
						<img src="images/foot/bundesliga/logomainz05.webp" class="card-img-top" alt="logo Mainz 05" style="width: 200px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_mainz05')}}"> Mainz 05 </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/bundesliga/logocologne.webp" class="card-img-top" alt="logo Cologne" style="width: 160px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_cologne')}}"> Cologne </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/bundesliga/logodramstatd.webp" class="card-img-top" alt="logo Dramstatd" style="width: 180px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_dramstatd')}}"> Dramstatd </a></h5>
									</div>
								</div>
							</div>				      							      
{% endblock %}