{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}La Serie A
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-10 text-primary">
				<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">La Serie A</h1>
				<div class="card-group">
					<div class="card">
						<img src="images/foot/seria/logointer.webp" class="card-img-top" alt="logo Inter Milan" style="width: 200px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_inter')}}">
									Inter Milan
								</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/seria/logojuventus.webp" class="card-img-top" alt="logo Juventus" style="width: 200px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_juventus')}}">
										Juventus
									</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/seria/logoacmilan.webp" class="card-img-top" alt="logo AC Milan" style="width: 130px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_acmilan')}}">
											AC Milan
											</a></h5>
									</div>
								</div>
							</div>
           <div class="card-group">
					<div class="card">
						<img src="images/foot/seria/logobologne.webp" class="card-img-top" alt="logo Bologne" style="width: 140px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_bologne')}}"> Bologne </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/seria/logoasroma.webp" class="card-img-top" alt="logo Rome" style="width: 165px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_roma')}}"> AS Rome </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/seria/logoatalanta.webp" class="card-img-top" alt="logo atalanta" style="width: 130px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_atalanta')}}"> Atalanta </a></h5>
									</div>
								</div>
							</div>			    
          <div class="card-group">
					<div class="card">
						<img src="images/foot/seria/logonaples.webp" class="card-img-top" alt="logo Naples" style="width: 170px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_naples')}}"> Naples </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/seria/logofiorentina.webp" class="card-img-top" alt="logo Fiorentina" style="width: 165px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_fiorentina')}}"> Fiorentina </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/seria/logolazio.webp" class="card-img-top" alt="logo Lazio" style="width: 240px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_lazio')}}"> Lazio </a></h5>
									</div>
								</div>
							</div>			
             <div class="card-group">
					<div class="card">
						<img src="images/foot/seria/logomonza.webp" class="card-img-top" alt="logo Monza" style="width: 140px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_monza')}}"> Monza </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/seria/logotorino.webp" class="card-img-top" alt="logo Torino" style="width: 160px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_torino')}}"> Torino </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/seria/logogenoa.webp" class="card-img-top" alt="logo Genoa" style="width: 140px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_genoa')}}"> Genoa </a></h5>
									</div>
								</div>
							</div>			     
             <div class="card-group">
					<div class="card">
						<img src="images/foot/seria/logolecce.webp" class="card-img-top" alt="logo Lecce" style="width: 135px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_lecce')}}"> Lecce </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/seria/logoudinese.webp" class="card-img-top" alt="logo Udinese" style="width: 195px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_udinese')}}"> Udinese </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/seria/logohellasverone.webp" class="card-img-top" alt="logo Hellas Verone" style="width: 180px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_hellasverone')}}">Hellas Verone</a></h5>
									</div>
								</div>
							</div>			   
				 <div class="card-group">
					<div class="card">
						<img src="images/foot/seria/logocagliari.webp" class="card-img-top" alt="logo Cagliari" style="width: 160px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_cagliari')}}"> Cagliari</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/seria/logoempoli.webp" class="card-img-top" alt="logo Empoli" style="width: 160px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_empoli')}}"> Empoli </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/seria/logofrosinone.webp" class="card-img-top" alt="logo Frosinone" style="width: 160px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_frosinone')}}"> Frosinone </a></h5>
									</div>
								</div>
							</div>	
				<div class="card-group">
					<div class="card">
						<img src="images/foot/seria/logosassuolo.webp" class="card-img-top" alt="logo Sassuolo" style="width: 160px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_sassuolo')}}"> Sassuolo</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/seria/logosalernitana.webp" class="card-img-top" alt="logo Salernitana" style="width: 175px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_salernitana')}}"> Salernitana </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/seria/logoparme.webp" class="card-img-top" alt="logo Parme" style="width: 145px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_parme')}}"> Parme </a></h5>
									</div>
								</div>
								</div>					   			      
						{% endblock %}
