{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}La Liga
{% endblock %}

{% block body %}
     <div class="container-fluid">
       <div class="row justify-content-center">
         <div class="col-10 text-primary">
            <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">La Liga</h1>
            
        	<div class="card-group">
					<div class="card">
						<img src="images/foot/liga/logorealmadrid.webp" class="card-img-top" alt="logo Real Madrid" style="width: 140px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_realmadrid')}}">Real Madrid</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/liga/logobarcelone.webp" class="card-img-top" alt="logo Barcelone" style="width: 180px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_barcelone')}}">Barcelone</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/liga/logogirona.webp" class="card-img-top" alt="logo Girona" style="width: 180px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_girona')}}">Girona</a></h5>
									</div>
								</div>
							</div>		
				<div class="card-group">
					<div class="card">
						<img src="images/foot/liga/logoatleticomadrid.webp" class="card-img-top" alt="logo Atletico Madrid" style="width: 160px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_atleticomadrid')}}">Atletico Madrid</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/liga/logoathleticbilbao.webp" class="card-img-top" alt="logo Athletic Bilbao" style="width: 180px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_athelicbilbao')}}">Athletic Bilbao</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/liga/logorealsociedad.webp" class="card-img-top" alt="logo Real Sociedad" style="width: 175px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_realsociedad')}}">Real Sociedad</a></h5>
									</div>
								</div>
							</div>					
								<div class="card-group">
					<div class="card">
						<img src="images/foot/liga/logolaspalmas.webp" class="card-img-top" alt="logo Las Palmas" style="width: 130px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_laspalmas')}}">Las Palmas</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/liga/logovalence.webp" class="card-img-top" alt="logo Valence" style="width: 165px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_valence')}}">Valence</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/liga/logorealbetis.webp" class="card-img-top" alt="logo Real Betis" style="width: 250px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_realbetis')}}">Real Betis</a></h5>
									</div>
								</div>
							</div>
					<div class="card-group">
					<div class="card">
						<img src="images/foot/liga/logoosasuna.webp" class="card-img-top" alt="logo Osasuna" style="width: 158px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_osasuna')}}">Osasuna</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/liga/logovillareal.webp" class="card-img-top" alt="logo Villareal" style="width: 168px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_villareal')}}">Villareal</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/liga/logogetafe.webp" class="card-img-top" alt="logo Getafe" style="width: 197px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_getafe')}}">Getafe</a>
									</div>
								</div>
							</div>				
					<div class="card-group">
					<div class="card">
						<img src="images/foot/liga/logodeportivoalaves.webp" class="card-img-top" alt="logo Deportivo Alaves" style="width: 195px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_deportivoalaves')}}">Deportivo Alaves</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/liga/logoseville.webp" class="card-img-top" alt="logo Seville" style="width: 158px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_seville')}}">Seville</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/liga/logomajorque.webp" class="card-img-top" alt="logo Malorque" style="width: 145px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_majorque')}}">Majorque</a></h5>
									</div>
								</div>
							</div>
					<div class="card-group">
					<div class="card">
						<img src="images/foot/liga/logorayovallecano.webp" class="card-img-top" alt="logo Rayo Vallecano" style="width: 215px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_rayovallecano')}}">Rayo Vallecano</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/liga/logoceltavigo.webp" class="card-img-top" alt="logo Celta Vigo" style="width: 110px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_celtavigo')}}">Celta Vigo</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/liga/logocadix.webp" class="card-img-top" alt="logo Cadix" style="width: 125px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_cadix')}}">Cadix</a></h5>
									</div>
								</div>
							</div>			
					<div class="card-group">
					<div class="card">
						<img src="images/foot/liga/logogrenada.webp" class="card-img-top" alt="logo Grenada" style="width: 110px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_grenada')}}">Grenada</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/liga/logoalmeria.webp" class="card-img-top" alt="logo Almeria" style="width: 180px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_almeria')}}">Almeria</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/liga/logoelche.webp" class="card-img-top" alt="logo elche" style="width: 190px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_elche')}}">Elche</a></h5>
									</div>
								</div>
							</div>																		
{% endblock %}