{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}Amerique du sud
{% endblock %}

{% block body %}
     <div class="container-fluid">
       <div class="row justify-content-center">
         <div class="col-10 text-primary">
            <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Amerique du sud </h1>
             <div class="card-group">
					<div class="card">
						<img src="images/foot/nations/ameriquedusud/bresil.webp" class="card-img-top" alt="Bresil" style="width: 220px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_bresil')}}"> Bresil </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/nations/ameriquedusud/argentine.webp" class="card-img-top" alt="Argentine" style="width: 240px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_argentine')}}"> Argentine </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/nations/ameriquedusud/uruguay.webp" class="card-img-top" alt="Uruguay" style="width: 220px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_uruguay')}}"> Uruguay </a></h5>
									</div>
								</div>
								</div> 
           <div class="card-group">
					<div class="card">
						<img src="images/foot/nations/ameriquedusud/chili.webp" class="card-img-top" alt="Chili" style="width: 220px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_chili')}}"> Chili </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/nations/ameriquedusud/perou.webp" class="card-img-top" alt="Perou" style="width: 220px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_perou')}}"> Perou </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/nations/ameriquedusud/colombie.webp" class="card-img-top" alt="Colombie" style="width: 215px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_colombie')}}"> Colombie</a></h5>
									</div>
								</div>
								</div> 
			<div class="card-group">
					<div class="card">
						<img src="images/foot/nations/ameriquedusud/venezuela.webp" class="card-img-top" alt="Venezuela" style="width: 220px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_venezuela')}}"> Venezuela </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/nations/ameriquedusud/equateur.webp" class="card-img-top" alt="Equateur" style="width: 220px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_equateur')}}"> Equateur </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/nations/ameriquedusud/bolivie.webp" class="card-img-top" alt="Bolivie" style="width: 215px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_bolivie')}}"> Bolivie </a></h5>
									</div>
								</div>
								</div>           					          
{% endblock %}