{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}Conference OUEST
{% endblock %}

{% block body %}
     <div class="contrainer-fluid">
     <div class="row justify-content-center">
      <div class="col-10 text-primary">
           <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Conference OUEST</h1>
           <div class="card-group">
					<div class="card">
						<img src="images/basket/ouest/thunder.webp" class="card-img-top" alt="Thunder" style="width: 235px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_thunder')}}"> Thunder </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/basket/ouest/nuggets.webp" class="card-img-top" alt="Nuggets" style="width: 220px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_nuggets')}}"> Nuggets </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/basket/ouest/timberwolves.webp" class="card-img-top" alt="Timberwolves" style="width: 215px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_timberwolves')}}"> Timberwolves </a></h5>
									</div>
								</div>
								</div>
			<div class="card-group">
					<div class="card">
						<img src="images/basket/ouest/clippers.webp" class="card-img-top" alt="Clippers" style="width: 250px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_clippers')}}"> Clippers </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/basket/ouest/pelicans.webp" class="card-img-top" alt="Pelicans" style="width: 255px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_pelicans')}}"> Pelicans </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/basket/ouest/suns.webp" class="card-img-top" alt="Suns" style="width: 185px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_suns')}}"> Suns </a></h5>
									</div>
								</div>
								</div>
			<div class="card-group">
					<div class="card">
						<img src="images/basket/ouest/kings.webp" class="card-img-top" alt="Kings" style="width: 170px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_kings')}}"> Kings </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/basket/ouest/mavericks.webp" class="card-img-top" alt="Mavericks" style="width: 185px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_mavericks')}}"> Mavericks </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/basket/ouest/lakers.webp" class="card-img-top" alt="Lakers" style="width: 300px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_lakers')}}"> Lakers </a></h5>
									</div>
								</div>
								</div>	
			<div class="card-group">
					<div class="card">
						<img src="images/basket/ouest/warriors.webp" class="card-img-top" alt="Warriors" style="width: 150px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_warriors')}}"> Warriors </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/basket/ouest/rockets.webp" class="card-img-top" alt="Rockets" style="width: 240px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_rockets')}}"> Rockets </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/basket/ouest/jazz.webp" class="card-img-top" alt="Jazz" style="width: 300px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_jazz')}}"> Jazz </a></h5>
									</div>
								</div>
								</div>	
			<div class="card-group">
					<div class="card">
						<img src="images/basket/ouest/grizzlies.webp" class="card-img-top" alt="Grizzlies" style="width: 155px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_grizzlies')}}"> Grizzlies </a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/basket/ouest/trailblazzers.webp" class="card-img-top" alt="Trail Blazzers" style="width: 218px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_trailblazzers')}}"> Trail Blazzers </a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/basket/ouest/spurs.webp" class="card-img-top" alt="Spurs" style="width: 410px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_spurs')}}"> Spurs </a></h5>
									</div>
								</div>
								</div>																								
{% endblock %}           