{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Premier League
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-10 text-primary">
				<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Premier League</h1>
			
				<div class="card-group">
					<div class="card">
						<img src="images/foot/premierleague/logomancity.webp" class="card-img-top" alt="logo ManCity" style="width: 200px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_mancity')}}">Manchester City</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/premierleague/logomanunited.webp" class="card-img-top" alt="logo ManUnited" style="width: 200px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_manunited')}}">Manchester United</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/premierleague/logoliverpool.webp" class="card-img-top" alt="logo Liverpool" style="width: 147px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_liverpool')}}">Liverpool</a></h5>
									</div>
								</div>
							</div>
              	<div class="card-group">
					<div class="card">
						<img src="images/foot/premierleague/logoarsenal.webp" class="card-img-top" alt="logo Arsenal" style="width: 200px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_arsenal')}}">Arsenal</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/premierleague/logoastonvilla.webp" class="card-img-top" alt="logo Aston Villa" style="width: 165px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_astonvilla')}}">Aston Villa</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/premierleague/logotottenham.webp" class="card-img-top" alt="logo Tottenham" style="width: 115px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_tottenham')}}">Tottenham</a></h5>
									</div>
								</div>
							</div>
					<div class="card-group">
					<div class="card">
						<img src="images/foot/premierleague/logowestham.webp" class="card-img-top" alt="logo West Ham" style="width: 180px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_westham')}}">West Ham</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/premierleague/logobrighton.webp" class="card-img-top" alt="logo Brighton" style="width: 180px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_brighton')}}">Brighton</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/premierleague/logowolverhampton.webp" class="card-img-top" alt="logo Wolverhampton" style="width: 177px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_wolverhampton')}}">Wolverhampton</a></h5>
									</div>
								</div>
							</div>		
					<div class="card-group">
					<div class="card">
						<img src="images/foot/premierleague/logonewcastle.webp" class="card-img-top" alt="logo Newcastle" style="width: 180px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_newcastle')}}">Newcastle</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/premierleague/logochelsea.webp" class="card-img-top" alt="logo Chelsea" style="width: 180px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_chelsea')}}">Chelsea</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/premierleague/logofulham.webp" class="card-img-top" alt="logo Fulham" style="width: 177px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_fulham')}}">Fulham</a></h5>
									</div>
								</div>
							</div>		
					<div class="card-group">
					<div class="card">
						<img src="images/foot/premierleague/logobournemouth.webp" class="card-img-top" alt="logo Bournemouth" style="width: 180px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_bournemouth')}}">Bournemouth</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/premierleague/logocrystalpalace.webp" class="card-img-top" alt="logo Crystal Palace" style="width: 180px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_crystalpalace')}}">Crystal Palace</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/premierleague/logobrentford.webp" class="card-img-top" alt="logo Brentford" style="width: 177px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_brentford')}}">Brentford</a></h5>
									</div>
								</div>
							</div>	
					<div class="card-group">
					<div class="card">
						<img src="images/foot/premierleague/logoeverton.webp" class="card-img-top" alt="logo Everton" style="width: 180px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_everton')}}">Everton</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/premierleague/logonottinghamforest.webp" class="card-img-top" alt="logo Nottingham Forest" style="width: 85px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_nottinghamforest')}}">Nottingham Forest</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/premierleague/logolutontown.webp" class="card-img-top" alt="logo Luton Town" style="width: 177px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_lutontown')}}">Luton Town</a></h5>
									</div>
								</div>
							</div>	
										<div class="card-group">
					<div class="card">
						<img src="images/foot/premierleague/logoburnley.webp" class="card-img-top" alt="logo Burnley" style="width: 180px">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{path('app_burnley')}}">Burnley</a></h5>
							</div>
						</div>
						<div class="card">
							<img src="images/foot/premierleague/logosheffield.webp" class="card-img-top" alt="logo Sheffield" style="width: 180px">
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{path('app_sheffield')}}">Sheffield</a></h5>
								</div>
							</div>
							<div class="card">
								<img src="images/foot/premierleague/logoleeds.webp" class="card-img-top" alt="logo Leeds" style="width: 145px">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{path('app_leeds')}}">Leeds</a></h5>
									</div>
								</div>
							</div>										
			{% endblock %}
